---
import Layout from '../layouts/Layout.astro'

import SiteTagline from '../components/SiteTagline.astro'
import SocialLinks from '../components/SocialLinks.astro'
---
<script>
  const loading = () => {
    const mainElement = document.querySelector('.main')

    mainElement.classList.add('loaded')
  }

  // fake loading
  setTimeout(loading, 1000)
</script>

<Layout title="skvggor - software developer">
  <main class="main">
    <SiteTagline />
    <SocialLinks />
  </main>
</Layout>

<style lang="styl">
  .main
    align-items center
    display flex
    flex-direction column
    justify-content center
    min-height 100vh
    opacity 0
    padding 0 20px
    transform scale(.95)
    transition all 1s ease-in-out

    &.loaded
      opacity 1
      transform scale(1)
</style>
